<!-- Error Alerts -->
<% if @auth_error || (@user && @user.errors.any?) %>
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <% if @auth_error %>
        <strong>Authentication Error:</strong>
        <ul>
        <li>Login or Password did not match</li>
        </ul>
      <% else %>
        <strong>Registration Error(s):</strong>
        <ul>
        <% @user.errors.full_messages.each do |user| %>
          <li><%= user %></li>
        <% end %>
        </ul>
      <% end %>
  </div>
<% end %>

<% if @game && @game.errors.any? %>
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Error(s):</strong>
        <ul>
        <% @game.errors.full_messages.each do |game| %>
          <li><%= game %></li>
        <% end %>
        </ul>
  </div>
<% end %>


<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll" href="#intro">OfficeFoos</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a class="page-scroll" href="#offices">Offices <span class="sr-only">(current)</span></a></li>
        <li><a class="page-scroll" href="#games">Games</a></li>
      </ul>
     
      <ul class="nav navbar-nav navbar-right">
        <% if session[:username] %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <%= session[:username] %> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#" data-toggle="modal" data-target="#officeNew">Create office</a></li>
              <li><a href="#" data-toggle="modal" data-target="#guidedTour">Guided tour</a></li>
              <li class="divider"></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </li>
        <% else %>
          <li><a href="#" data-toggle="modal" data-target="#login">Login</a></li>
          <li><a href="#" data-toggle="modal" data-target="#register">Create Account</a></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<!-- Intro Section -->
<section id="intro" class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Office Fooooos</h1>
                <h4>Take a Break. Play Fooseball. </h4>
                <div id="matched"></div>
                  <% if session[:username] %>
                    <% if session[:office_name] %>
                      <a class="btn btn-success btn-lg" href="/play">Play Foo at <%= session[:company_name] %> (<%= session[:office_name] %>)</a>
                    <% else %>
                      <a class="btn btn-success btn-lg page-scroll" href="#offices">Select Office</a>
                    <% end %>
                  <% else %>
                    <a class="btn btn-success btn-lg page-scroll" href="#offices">View Offices</a>
                  <% end %>
            </div>
        </div>
    </div>
</section>

<!-- Offices Section -->
<section id="offices" class="offices-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Office List</h1>
                <!-- OFFICE CARDS (JEFF) -->
                <% if session[:username] %> <!-- IF USER LOGGED IN -->
                  <% if all_offices.length > 0 %>
                    <% all_offices.each do |office|  %>
                      <!-- <a href="office/<%= office.id %>"><%= office.company_name %> <%= office.name %> </a> -->
                      <center>
                      <div class="list-group" align="left">
                        <a href="office/<%= office.id %>" class="list-group-item">
                          <h4 class="list-group-item-heading">
                            <!-- <span class="glyphicon glyphicon-home" aria-hidden="true"></span> -->
                            <%= office.company_name %> (<%= office.name %>)
                          </h4>
                          <p class="list-group-item-text">Admin/Mod: <%= get_office_mod_name(office) %></p>
                          <p class="list-group-item-text">Contact Information: <%= get_office_contact_email(office) %></p>
                          <p class="list-group-item-text">Address: <%= office.address %></p>
                        </a>
                      </div>
                      </center>
                      
                    <% end %> 
                  <% end %>

                <% else %> <!-- WHEN NOT LOGGED IN, DISPLAY LIST AND LINK TO SIGN UP MODAL WHEN CLICKED -->
                  <% all_offices.each do |office|  %>
                    <center>
                      <div class="list-group" align="left">
                        <a href="#" data-toggle="modal" data-target="#login" class="list-group-item">
                          <h4 class="list-group-item-heading">
                            <%= office.company_name %> (<%= office.name %>)
                          </h4>
                          <p class="list-group-item-text">Admin/Mod: <%= get_office_mod_name(office) %></p>
                          <p class="list-group-item-text">Contact Information: <%= get_office_contact_email(office) %></p>
                          <p class="list-group-item-text">Address: <%= office.address %></p>
                        </a>
                      </div>
                      </center>
                  <% end %>
                <% end %>
                <!-- END (JEFF) -->
            </div>
        </div>
    </div>
</section>

<!-- Games Section -->
<% if session[:id] %>
  <%= erb :_active_game_list %>
  <%= erb :_moderator %>
<% end %>

<a href="#" data-toggle="modal" data-target="#mod">mod</a>
<!-- Add in Modals -->
<%= erb :_signin_user %>
<%= erb :_create_user %>
<%= erb :_create_office %>
<%= erb :_guided_tour %>