<h2>Welcome <%= session[:username] %></h2>
your email is <%= session[:email] %>

<br>
<br>  

<% if session[:username] %>
  <a class="btn btn-primary btn-lg" href="/logout" role="button">Logout</a>
  <%= erb :_play_button %>
<% else %>
<!-- Button trigger modal -->
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#login">
    Login
  </button>

  <%= erb :_signin_user %>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#register">
    Register
  </button>
  <%= erb :_create_user %>
<% end %>

