
<% if @error || (@user && @user.errors.any?) %>
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <% if @auth_error %>
        <strong>Authentication Error:</strong>
        <ul>
        <li>Login or Password did not match</li>
        </ul>
      <% else %>
        <strong>Registration Error(s):</strong>
        <ul>
        <% @user.errors.full_messages.each do |user| %>
          <li><%= user %></li>
        <% end %>
        </ul>
      <% end %>
  </div>
<% end %>

<h2>Welcome <%= session[:username] %></h2>
your email is <%= session[:email] %>

<br>
<br>  

<% if session[:username] %>
  <a class="btn btn-primary btn-lg" href="/logout" role="button">Logout</a>

  <%= erb :_play_button %>

   <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#officeNew">
    Create Office
  </button>

	<% if all_offices.length > 0 %>
		<div>
      <h3>List of offices</h3>
		  <ul>
		    <% all_offices.each do |office|  %>
		      <li><a href="office/<%= office.id %>"><%= office.name %></a></li>
		    <% end %>
		  </ul>
		</div>
	<% end %>
    <h3>list of All games</h3>  
		<% if all_games.length > 0 %>
  <!-- TODO insert a link to '/office/:id' (id is the game id) only shows if game id equals current user id -->

		<div>
		  <ul>
		    <% all_games.each do |game|  %>
		      <li><%= game %></li>
		    <% end %>
		  </ul>
		</div>
	<% end %>

  <%= erb :_create_office %>
  <h2>Current Office<h3>
  <%= session[:office_name] %>

<% else %>
<h1>Sign in or create a user to get going</h1>
<!-- Button trigger modal -->
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#login">
    Login
  </button>

  <%= erb :_signin_user %>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#register">
    Register
  </button>
  <%= erb :_create_user %>
<% end %>



